.select-wrapper .select-component > .MuiSelect-select {
  padding: 0 32px 0 10px !important;
  height: 34px;
  display: flex;
  align-items: center;
  line-height: 2;
}

.select-wrapper .MuiSelect-icon {
    top: 50% !important;
    right: 12px !important;
    position: absolute !important;
    transform: translateY(-50%) !important;
    pointer-events: none !important;
    z-index: 1 !important;
}

.select-wrapper .select-component .MuiOutlinedInput-root {
  overflow: hidden !important;
  position: relative !important;
}
