.select-wrapper .select-component > .MuiSelect-select {
  padding: 0 10px;
  height: 34px;
  display: flex;
  align-items: center;
  line-height: 2;
}

.select-wrapper .select-component .MuiSelect-icon {
    top: auto !important;       /* disable default calc positioning */
}

