.home-layout {
  position: relative;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.home-layout aside {
  position: sticky;
  height: 100vh;
  max-width: 230px;
  top: 0;
  left: 0;
  z-index: 1;
}

.base-Popup-root{
  z-index: 2;
}

.home-layout > div {
  max-width: 1400px;
  padding: 24px;
  min-height: calc(100vh - 24px * 2);
  flex: 1;
}
.home-layout > div:has(> [class*="fallback__"]) .background-pattern-svg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 800px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
