version: '3.9'

services:
  postgresdb:
    expose:
      - "$DB_PORT"
    volumes:
      - db-prod:/var/lib/postgresql/data  # Separate volume for prod database

  backend:
    env_file:
      - ./.env.prod

  worker:
    env_file:
      - ./.env.prod

  frontend:
    ports:
      - $FRONTEND_PORT:80
    env_file:
      - ./.env.prod
    volumes:
      - ./Clients/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  
  eval_server:
    env_file:
      - ./.env.prod

volumes:
  db-prod:
