version: '3.9'

services:
  postgresdb:
    expose:
      - "$DB_PORT"
    volumes:
      - db-prod:/var/lib/postgresql/data # Separate volume for prod database
    labels:
      - keep=true

  redis:
    labels:
      - keep=true

  backend:
    env_file:
      - ./.env.prod

  frontend:
    ports:
      - $FRONTEND_PORT:80
    env_file:
      - ./.env.prod

  bias_and_fairness_backend:
    env_file:
      - ./.env.prod

volumes:
  db-prod:
