version: "3.9"

services:
  backend:
    container_name: verifywise-backend
    depends_on:
      - postgresdb
      - redis
    image: ghcr.io/bluewave-labs/verifywise-backend:latest
    pull_policy: always
    ports:
      - $BACKEND_PORT:$BACKEND_PORT
    volumes:
      - app_logs:/app/logs
    environment:
      - PORT=$BACKEND_PORT
      - DB_HOST=postgresdb
      - DB_USER=$DB_USER
      - DB_PORT=$DB_PORT
      - DB_PASSWORD=$DB_PASSWORD
      - DB_NAME=$DB_NAME
      - MOCK_DATA_ON=$MOCK_DATA_ON
      - JWT_SECRET=$JWT_SECRET
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - FAIRNESS_AND_BIAS_URL=http://bias_and_fairness_backend:8000
      - REDIS_URL=redis://redis:6379/0
      - DO_SPACES_REGION=$DO_SPACES_REGION
      - DO_SPACES_BUCKET=$DO_SPACES_BUCKET
      - DO_SPACES_ENDPOINT=$DO_SPACES_ENDPOINT
      - DO_SPACES_KEY=$DO_SPACES_KEY
      - DO_SPACES_SECRET=$DO_SPACES_SECRET
      - LOG_DO_PREFIX=$LOG_DO_PREFIX
      - LOG_COMPRESSION_ENABLED=$LOG_COMPRESSION_ENABLED
    restart: unless-stopped
    networks:
      - verifywise_network

  frontend:
    container_name: verifywise-frontend
    depends_on:
      - backend
    image: ghcr.io/bluewave-labs/verifywise-frontend:latest
    pull_policy: always
    restart: unless-stopped
    networks:
      - verifywise_network

  worker:
    container_name: verifywise-worker
    depends_on:
      - postgresdb
      - redis
    image: ghcr.io/bluewave-labs/verifywise-backend:latest
    pull_policy: always
    command: ["node", "dist/jobs/worker.js"]
    environment:
      - DB_HOST=postgresdb
      - DB_USER=$DB_USER
      - DB_PORT=$DB_PORT
      - DB_PASSWORD=$DB_PASSWORD
      - DB_NAME=$DB_NAME
      - JWT_SECRET=$JWT_SECRET
      - REDIS_URL=redis://redis:6379/0
    restart: unless-stopped
    networks:
      - verifywise_network

  bias_and_fairness_backend:
    container_name: verifywise-bias-and-fairness-backend
    depends_on:
      - backend
      - redis
    image: ghcr.io/bluewave-labs/verifywise-bias-and-fairness-backend:latest
    # pull_policy: always
    # ports:
    #   - "8000"
    expose:
      - "8000"
    environment:
      - DB_HOST=postgresdb
      - DB_USER=$DB_USER
      - DB_PORT=$DB_PORT
      - DB_PASSWORD=$DB_PASSWORD
      - DB_NAME=$DB_NAME
      - BACKEND_URL=http://backend:$BACKEND_PORT
      - REDIS_URL=redis://redis:6379/0
    restart: unless-stopped
    networks:
      - verifywise_network

volumes:
  app_logs:

networks:
  verifywise_network:
    external: true
