version: "3.9"

services:
  backend:
    env_file:
      - ./.env.prod

  worker:
    env_file:
      - ./.env.prod

  frontend:
    ports:
      - $FRONTEND_PORT:80
    env_file:
      - ./.env.prod

  bias_and_fairness_backend:
    env_file:
      - ./.env.prod
