.control-category {
  max-width: 1400px;
  gap: 20px;
}

.control-category-accordion {
  margin-top: 9px;
  border: 1px solid #eaecf0;
  width: 100%;
  margin-left: 1.5px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.control-category-accordion .MuiAccordionDetails-root {
  padding: 0;
  margin: 0;
}

.control-category-accordion,
.control-category-accordion-summary {
  font-size: 13px;
  background-color: #fafafa;
  flex-direction: row-reverse;
}

.new-compliance-tracker-details-accordion-summary-title {
  font-size: 13px;
  padding-left: 2.5px;
}
