#add-new-risk-popup {
  padding: 3% 0;
  align-items: flex-start !important;
}

.popupBody {
  padding: 10px;
  overflow: auto;
  max-height: calc(100vh - 309px);
}

.popupBody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px transparent;
  border-radius: 8px;
}
