version: "3.9"

services:
  postgresdb:
    expose:
      - "$DB_PORT"
    volumes:
      - db-prod:/var/lib/postgresql/data # Separate volume for prod database
    labels:
      - keep=true

  redis:
    labels:
      - keep=true

volumes:
  db-prod: