resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - postgres-pvc.yaml
  - frontend-nginx-config.yaml

patchesStrategicMerge:
  - frontend-nginx-mount.yaml

generatorOptions:
  disableNameSuffixHash: true
  labels:
    type: generated
  annotations:
    note: generated
