.MuiTable-root .host {
  width: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.MuiTable-root .host span {
  font-size: 11px;
}

.MuiTable-root .label {
  line-height: 1;
  border-radius: 8px;
  padding: 7px;
  font-size: 12px;
}

.MuiPaper-root:has(table.MuiTable-root) {
  box-shadow: none;
}
.MuiTable-root
  .MuiTableBody-root
  .MuiTableRow-root:last-child
  .MuiTableCell-root {
  border: none;
}

.MuiTable-root .MuiTableHead-root .MuiTableCell-root,
.MuiTable-root .MuiTableBody-root .MuiTableCell-root {
  font-size: 13px;
}
.MuiTable-root .MuiTableHead-root .MuiTableCell-root {
  padding: 12px 10px;
  font-weight: 500;
}
.MuiTable-root .MuiTableHead-root span {
  display: inline-block;
  height: 17px;
  width: 20px;
  overflow: hidden;
  margin-bottom: -3px;
  margin-left: 3px;
}
.MuiTable-root .MuiTableHead-root span svg {
  width: 20px;
  height: 20px;
}
/* .MuiTable-root .MuiTableBody-root .MuiTableCell-root {
  padding: 6px 24px;
} */
.MuiTable-root .MuiTableBody-root .MuiTableRow-root {
  height: 50px;
}

.MuiPaper-root + .MuiPagination-root {
  border-radius: 4px;
  padding: 16px 24px;
}
.MuiPaper-root + .MuiPagination-root ul {
  justify-content: center;
}
.MuiPaper-root + .MuiPagination-root button {
  font-size: 13px;
  font-weight: 500;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child {
  margin-right: auto;
}
.MuiPaper-root + .MuiPagination-root ul li:last-child {
  margin-left: auto;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button {
  padding: 0 12px 0 16px;
}
.MuiPaper-root + .MuiPagination-root ul li:last-child button {
  padding: 0 16px 0 12px;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button::after,
.MuiPaper-root + .MuiPagination-root ul li:last-child button::before {
  position: relative;
  display: inline-block;
}
.MuiPaper-root + .MuiPagination-root ul li:first-child button::after {
  content: "Previous";
  margin-left: 15px;
}
.MuiPaper-root + .MuiPagination-root ul li:last-child button::before {
  content: "Next";
  margin-right: 15px;
}
.MuiPaper-root + .MuiPagination-root div.MuiPaginationItem-root {
  user-select: none;
}

.MuiTablePagination-root p {
  font-weight: 500;
  font-size: 12px;
}
.MuiTablePagination-root .MuiTablePagination-select.MuiSelect-select {
  text-align: left;
  text-align-last: left;
}
.MuiTablePagination-root button {
  min-width: 0;
  padding: 4px;
  margin-left: 5px;
}
.MuiTablePagination-root svg {
  width: 22px;
  height: 22px;
}
.MuiTablePagination-root .MuiSelect-icon {
  width: 21px;
  height: 21px;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
}
.MuiTablePagination-root button.Mui-disabled {
  opacity: 0.4;
}

.monitors .MuiTable-root .MuiTableHead-root .MuiTableCell-root {
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 12px;
  font-weight: 400;
}
.monitors .MuiTableCell-root:not(:first-of-type):not(:last-of-type),
.monitors .MuiTableCell-root:not(:first-of-type):not(:last-of-type) {
  padding-left: 12px;
  padding-right: 12px;
}

