
.header{
    font-weight: bold;
}

.grid-container{
    grid-template-columns: auto auto auto;
    margin-top:50px;
    margin-bottom: 50px;
}

.grid-item{
    margin: 10px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, [col] 150px ) ;
    grid-template-rows: repeat(1, [row] auto  );
    background-color: #fff;
    color: #444;
  }

.completed, .pending, .approved{
    grid-column: col/ span 3;
    grid-row: row;
}